.guestBox {
  box-sizing: border-box;
  box-shadow: 5px 5x;
  color: rgb(72, 72, 72);
  font-size: 14px;
  width: 328px;
  line-height: 20.02px;
  padding-top: 20px;
  /* margin-top: 16px; */
  text-align: left;
  text-size-adjust: 100%;
  position: fixed;
  z-index: 100;
  background-color: white;
  border: 1px solid rgb(72, 72, 72, .1);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}



.adultRowBig,
.childRowBig,
.infantRowBig {
  box-sizing: border-box;
  color: rgb(72, 72, 72);
  display: table;
  font-size: 14px;
  height: 34px;
  line-height: 20.02px;
  text-align: left;
  text-size-adjust: 100%;
  width: 296px;
  padding-bottom: 20px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-font-smoothing: antialiased;
}

.adultWord,
.childWord,
.infantWord {
  box-sizing: border-box;
  color: rgb(72, 72, 72);
  display: table-cell;
  font-size: 16px;
  font-weight: 600;
  height: 34px;
  line-height: 22px;
  text-align: left;
  text-size-adjust: 100%;
  vertical-align: middle;
  width: 176px;
  padding-left: 20px;
}

.adjusters {
  box-sizing: border-box;
  color: rgb(72, 72, 72);
  display: inline;
  font-size: 14px;
  height: 34px;
  line-height: 20.02px;
  text-size-adjust: 100%;
  vertical-align: middle;
  width: 140px;
}

.adultNum,
.childNum,
.infantNum {
  box-sizing: border-box;
  color: rgb(72, 72, 72);
  display: inline;
  font-size: 16px;
  font-weight: 600;
  height: 22px;
  line-height: 22px;
  overflow-wrap: break-word;
  text-align: center;
  text-size-adjust: 100%;
  padding-right: 18px;
  padding-left: 22px;
  margin-right: 5px;
}

.addBtn,
.minBtn,
.faded {
  position: fixed;
  color: rgb(0, 132, 137);
  align-items: flex-start;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(0, 132, 137);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 132, 137);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(0, 132, 137);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(0, 132, 137);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 32px;
  letter-spacing: normal;
  line-height: 14px;
  padding-bottom: 2px;
  padding-left: 10px;
  /* padding-right: 7px; */
  padding-top: 1px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  touch-action: manipulation;
  width: 32px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-appearance: none;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-border-image: none;
}

.faded {
  opacity: .3;
  pointer-events: none;
}

.maxWords {
  box-sizing: border-box;
  color: rgb(72, 72, 72);
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 36px;
  line-height: 18px;
  overflow-wrap: break-word;
  text-align: left;
  text-size-adjust: 100%;
  margin-top: 7px;
  padding-left: 18px;
  padding-right: 35px;
}

.closeDiv {
  align-items: center;
  box-sizing: border-box;
  color: rgb(72, 72, 72);
  display: flex;
  flex-wrap: wrap;
  height: 22px;
  line-height: 0px;
  text-align: right;
  margin-top: 10px;
  text-size-adjust: 100%;
  padding-left: 255px;
  margin-bottom: 10px;
}

.closeBtn {
  align-items: flex-end;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(0, 132, 137);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 132, 137);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 132, 137);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 132, 137);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(0, 132, 137);
  cursor: pointer;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 600;
  height: 22px;
  letter-spacing: normal;
  line-height: 22px;
  overflow-wrap: break-word;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: right;
  text-decoration-color: rgb(0, 132, 137);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  user-select: auto;
  width: 42.3438px;
  word-spacing: 0px;
}

.closeBtn:hover {
  text-decoration: underline;
}